<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
    <link rel="stylesheet" href="../static/edit.css">
    <script src="../static/js/main.js" defer></script>
</head>
<body>
    <header>
        <img src="../static/logo-icon.png" alt="Logo">
        <h1>BookShelf</h1>
    </header>
    <main>
        <div id="formBox">
            <form method="POST" action="{{ url_for('adicionar_livro') }}">
                <h3>Cadastrar Livro</h3>
                <label for="nome">Nome:</label><br>
                <input type="text" id="nome" name="nome" placeholder="Digite o nome do livro"><br>
                
                <label for="autor">Autor:</label><br>
                <input type="text" id="autor" name="autor" value="{{ autor_logado_nome }}" readonly><br>
                
                <label for="editora">Editora:</label><br>
                <select id="editora" name="editora">
                    {% for editora in editoras %}
                        <option value="{{ editora.id }}">{{ editora.nome }}</option>
                    {% endfor %}
                </select><br>
                
                <input type="submit" value="Enviar">
            </form>
        </div>
    </main>
</body>
</html>
